@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.shade-control-input {
  @apply flex h-10 items-center gap-2 rounded-full border-2 border-transparent px-2;
  @apply bg-gray-100 hover:bg-gray-200 dark:bg-gray-800 dark:hover:bg-gray-700;
  @apply focus-within:border-primary focus-within:bg-white focus-within:hover:bg-white;
  @apply focus-within:dark:bg-gray-900 focus-within:dark:hover:bg-gray-900;
}

.shade-control-input input {
  @apply flex w-32 flex-grow appearance-none items-center bg-transparent focus:outline-none;
}

.shade-control-badge {
  @apply flex h-5 min-w-10 shrink-0 items-center justify-center text-center;
  @apply rounded-full bg-gray-200 px-2 text-xs uppercase text-gray-500 dark:bg-gray-700 dark:text-gray-400;
}
