@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

:root {
  font-family: Inter, sans-serif;
}
@supports (font-variation-settings: normal) {
  /* Use variable font if supported */
  :root {
    font-family: InterVariable, sans-serif;
  }
}

.shade-control-input {
  @apply flex h-10 items-center gap-2 rounded-full border-2 border-transparent px-2;
  @apply bg-neutral-100 hover:bg-neutral-200 dark:bg-neutral-800 dark:hover:bg-neutral-700;
  @apply focus-within:border-primary focus-within:bg-white focus-within:hover:bg-white;
  @apply focus-within:dark:bg-neutral-900 focus-within:dark:hover:bg-neutral-900;
}

.shade-control-input input {
  @apply flex w-28 flex-grow appearance-none items-center bg-transparent focus:outline-none;
}

.shade-control-badge {
  @apply flex h-5 min-w-10 shrink-0 items-center justify-center text-center;
  @apply rounded-full bg-neutral-200 px-2 text-xs uppercase text-neutral-500 dark:bg-neutral-700 dark:text-neutral-400;
}
